###########################################################
# Build Results
###########################################################
bin/
obj/

###########################################################
# User-specific files
###########################################################
*.user
*.rsuser
*.suo

###########################################################
# Visual Studio
###########################################################
.vs/

###########################################################
# Rider
###########################################################
.idea/

###########################################################
# VS Code
###########################################################
.vscode/

###########################################################
# Publish
###########################################################
publish/
artifacts/

###########################################################
# Logs
###########################################################
*.log

###########################################################
# OS Files
###########################################################
Thumbs.db
Desktop.ini
.DS_Store

###########################################################
# NuGet Packages
###########################################################
*.nupkg

###########################################################
# ASP.NET Scaffolding
###########################################################
ScaffoldingReadMe.txt